.optimistic {
    animation: scale-up 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes scale-up {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

/* For browsers that still require the -webkit- prefix */
@-webkit-keyframes scale-up {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
